@page "/"
@rendermode InteractiveServer
@inject IDataService data
@* @attribute [Authorize] *@


<PageTitle>Задачи</PageTitle>
<h1>Мои задачи</h1>

<div class="container">
    @if (tasks == null)
    {
        <tr>
            <td colspan="5">
                Loading ...
            </td>
        </tr>
    }
    else
    {
        <div class="card-group">
            @foreach (var t in tasks)
            {
                <div class="card">
                    <div class="card-header">
                        @t.Title
                    </div>
                    <div class="card-body">
                        <p>@t.Description</p>
                        <p>@t.CreatedDate</p>
                    </div>
                </div>
            }
        </div>
    }
</div>

@code {
    IEnumerable<TaskItem>? tasks;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        tasks = await data.GetTaskItemAsync();
    }
}